.crew {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: url('../../assets/img/crew/background-crew-desktop.jpg');
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}
.crew_container {
  width: 80%;
  max-width: 1440px;
  margin: 1rem auto 0 auto;
  color: var(--light-color);
}
.crew_title {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 28px;
}
.crew_container .crew_title > span {
  margin-right: 0.5rem;
  opacity: 0.5;
}

.crew_content {
  width: 100%;
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.crew_content .left {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}
.crew_text {
  height: 300px;
}
.crew_text h2 {
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 2rem;
}
.crew_text h1 {
  margin: 1rem 0;
  font-size: 48px;
  text-transform: uppercase;
}
.crew_text .paragraph {
  width: 77%;
  margin: 0;
  font-size: 18px;
  line-height: 32px;
}
.crew_content .right {
  width: 100%;
  height: 50vh;
}
.crew_content .right .crew_img{
  width: 500px;
  height: 100%;
}
.crew_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.crew_nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  margin-left: 5px;
}
.crew_nav li  {
  margin: 0 40px 0 0;
}
.crew_nav li > button {
  width: 20px;
  height: 20px;
  color: var(--dark-color);
  background-color: var(--light-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 768px) {
  .crew {
    height: auto;
    min-height: 100vh;
    background: url('../../assets/img/crew/background-crew-tablet.jpg') top/left no-repeat;
    background-size: cover;
  }
  .crew_container {
    height: auto;
    margin-top: 4rem;
    min-height: 100vh;
  }  
  .crew_container .crew_title {
    font-size: 20px;
  }
  .crew_content {
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
  }
  .crew_content .left {
    height: auto;
    text-align: center;
  }
  .crew_text {
    height: auto;
    margin: 2rem 0;
  }
  .crew_text h2 {
    font-size: 1.5rem;
  }
  .crew_text h1 {
    font-size: 40px;
  }
  .crew_text .paragraph {
    width: 77%;
    margin: 0 auto;
    font-size: 1rem;
  }
  .crew_content .right {
    width: 100%;
    height: auto;
    margin: 2rem auto 0 auto;
  }
  .crew_content .right .crew_img{
    width: 500px;
    height: 400px;
    margin: 0 auto;
  }
  .crew_img img {
    width: 100%;
    height: 100%;
  }
  .crew_nav {
    margin: 1rem auto;
  }
  .crew_nav li  {
    margin: 0 20px;
  }
}

@media (max-width: 425px) {
  .crew_container {
    margin-top: 6rem;
    background: url('../../assets/img/crew/background-crew-mobile.jpg') top/left no-repeat;
  }
  .crew_title {
    text-align: center;
  }
  .crew_content .left {
    padding-top: 2rem;
    margin-top: 1rem;
  }
  .crew_text h2 {
    font-size: 1rem;
  }
  .crew_text h1 {
    font-size: 1.5rem;
  }
  .crew_text .paragraph {
    width: 85%;
    font-size: 15px;
    line-height: 25px;
  }
  .crew_nav {
    grid-row: 1;
    margin: 1rem auto;
  }
  .crew_nav li  {
    margin: 0 20px;
  }
  .crew_content .right {
    grid-row: 1;
  }
  .crew_content .right .crew_img{
    width: 300px;
    height: 223px;
  }
}
