:root {
  --dark-color: #0B0D17;
  --blue-color: #D0D6F9;
  --light-color: #FFFFFF;
  --gray-color: #616476;
}
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-ff-one {
  font-family: 'Barlow Condensed', sans-serif;
}
.font-ff-two {
  font-family: 'Bellefair', serif;
}
.heading-one {
  font-size: 150px;
}
.heading-two {
  font-size: 100px;
}
.heading-three {
  font-size: 56px;
}
.heading-four {
  font-size: 32px;
}
.heading-five {
  font-size: 28px;
}
.subheading-one {
  font-size: 28px;
}
.subheading-two {
  font-size: 14px;
}

